/* Wave Style */
@keyframes wave {
    0%   { transform: scale(1); }
    50%  { transform: scale(2); }
    100% { transform: scale(1); } 
}

html, body{
    font-family: monospace;
}

.snake {
    width : 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin: 3px;
}

h1 , h2 {
    text-align: center;
}

input.wave {
    animation: wave 0.4s cubic-bezier(.17, .67, .83, .67);
}

.retry-btn{
    font-family: monospace;
    text-align: center;
    margin: 10px;
    width: 100px;
    height: 30px;
    background-color: #5386E4;
    border: none;
    border-radius: 5px;
    display: none;
}

.retry-btn:hover{
    background-color: #809BCE;
}

.controller{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.mid-con{
    display: flex;
    flex-direction: column;
}

.keys{
    color: white;
    margin: 3px;
    background-color: #5386E4;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}

.keys:hover{
    background-color: #809BEC;
}
